## 2012 ~ 2024년 전남대학교 수시전형 입시결과 데이터 전처리
- 2019년 데이터는 없어서 제외

In [177]:
import pandas as pd
import numpy as np

In [178]:
# # 엑셀파일 불러오기
# data1 = pd.read_excel('./data/2012.xls')
# data2 = pd.read_excel('./data/2013.xls')
# data3 = pd.read_excel('./data/2014.xls')
# data4 = pd.read_excel('./data/2015.xls')
# data5 = pd.read_excel('./data/2016.xls')
# data6 = pd.read_excel('./data/2017.xls')
# data7 = pd.read_excel('./data/2018.xls')
# data8 = pd.read_excel('./data/2020.xlsx')
# data9 = pd.read_excel('./data/2021.xlsx')
# data10 = pd.read_excel('./data/2022.xlsx')
# data11 = pd.read_excel('./data/2023.xlsx')
# data12 = pd.read_excel('./data/2024.xlsx')

In [179]:
# # xlsx, xls 파일 csv로 변환
# data1.to_csv('./data/2012.csv')
# data2.to_csv('./data/2013.csv')
# data3.to_csv('./data/2014.csv')
# data4.to_csv('./data/2015.csv')
# data5.to_csv('./data/2016.csv')
# data6.to_csv('./data/2017.csv')
# data7.to_csv('./data/2018.csv')
# data8.to_csv('./data/2020.csv')
# data9.to_csv('./data/2021.csv')
# data10.to_csv('./data/2022.csv')
# data11.to_csv('./data/2023.csv')
# data12.to_csv('./data/2024.csv')

In [180]:
# 변환된 csv파일 불러오기
data1 = pd.read_csv('./data/2012.csv')
data2 = pd.read_csv('./data/2013.csv', low_memory=False)
data3 = pd.read_csv('./data/2014.csv')
data4 = pd.read_csv('./data/2015.csv')
data5 = pd.read_csv('./data/2016.csv')
data6 = pd.read_csv('./data/2017.csv')
data7 = pd.read_csv('./data/2018.csv')
data8 = pd.read_csv('./data/2020.csv')
data9 = pd.read_csv('./data/2021.csv')
data10 = pd.read_csv('./data/2022.csv')
data11 = pd.read_csv('./data/2023.csv')
data12 = pd.read_csv('./data/2024.csv')

### 2012년 데이터

In [181]:
data1.columns

Index(['Unnamed: 0', '2012학년도 대학 입학전형 수시모집 결과분석 자료', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17'],
      dtype='object')

In [182]:
data1

,Unnamed: 0,2012학년도 대학 입학전형 수시모집 결과분석 자료,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,캠퍼스,구분,전형구분명,대학명,모집단위명,모집\n인원,지원\n인원,최종\n등록\n인원,경쟁률,추가\n합격자\n최종\n예비순위,학생부,NaN,NaN,NaN,심층면접,NaN,총점,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,등급기준,NaN,600점기준,NaN,400점기준,NaN,1000점기준,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,평균,표준편차,평균,표준편차,평균,표준편차,평균,표준편차
4,4,광주,특별전형,학생부성적우수자,간호대학,간호학과,44,431,22,9.795454,0,1.90925361606749,0.236746134180467,592.544813,1.98563110767963,354.2031012602,21.9465677377682,946.748,21.8496992997442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,309,여수,입학사정관전형,농·어촌학생,문화사회대학,문화콘텐츠학부,5,18,5,3.6,2,5.49932054764303,0.511158852192785,559.294428,4.30762900834133,275.1326984126,20.7360971197598,665.609,41.2287693589948
310,310,여수,입학사정관전형,농·어촌학생,수산해양대학,해양기술학부,9,27,9,3,1,4.6873232967136,1.09191669514186,567.0732,9.79288912221697,334.8151111111,23.1418409546169,791.4819,37.626984076455
311,311,여수,입학사정관전형,농·어촌학생,수산해양대학,식품공학·영양학부,2,10,2,5,0,3.76193181818182,0.874431818181818,572.1855,2.87149999997902,259.26,37.0377777776001,692.5935,70.371500000001
312,312,여수,입학사정관전형,농·어촌학생,수산해양대학,수산생명의학과,1,7,1,7,1,4.56867204695525,0.410051357300067,569.434,3.33400000000501,311.1111111112,29.6311111112005,777.7775,37.0355000000012
313,313,여수,입학사정관전형,농·어촌학생,수산해양대학,해양경찰학과,1,8,1,8,1,2.63636363636364,0.681818181818182,585.857,7.11400000000581,340.74,29.6288888887998,840.74,62.9619999999999

In [183]:
data1 = data1[data1['2012학년도 대학 입학전형 수시모집 결과분석 자료'] == '광주']
res_data1 = data1[['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 10', 'Unnamed: 11']]
res_data1 = res_data1.rename(columns = {
    'Unnamed: 2' : '전형구분명',
    'Unnamed: 3' : '대학명',
    'Unnamed: 4' : '학과명',
    'Unnamed: 5' : '모집인원',
    'Unnamed: 6' : '지원인원',
    'Unnamed: 8' : '경쟁률',
    'Unnamed: 10' : '평균',
    'Unnamed: 11' : '표준편차'
})
res_data1['연도'] = 2012
res_data1

,전형구분명,대학명,학과명,모집인원,지원인원,경쟁률,평균,표준편차,연도
4,학생부성적우수자,간호대학,간호학과,44,431,9.795454,1.90925361606749,0.236746134180467,2012
5,학생부성적우수자,경영대학,경영학부,126,811,6.436507,2.42902681570907,0.362292604607323,2012
6,학생부성적우수자,경영대학,경제학부,46,322,7,2.90504260919313,0.325149140768617,2012
7,학생부성적우수자,경영대학,지역개발학전공,7,65,9.285714,3.1735398184238,0.20797046596804,2012
8,학생부성적우수자,공과대학,건축학부,21,141,6.714285,2.95960188056569,0.619877199564958,2012
...,...,...,...,...,...,...,...,...,...
295,농·어촌학생,자연대학,물리학과,3,12,4,4.17918930506332,0.625283955691307,2012
296,농·어촌학생,자연대학,지구환경과학부,4,23,5.75,3.63379053211131,0.823169773328138,2012
297,농·어촌학생,자연대학,생물학과,1,3,3,4.78693967902601,0.479247371333702,2012
298,농·어촌학생,자연대학,화학과,2,12,6,2.96381480371591,0.240410548396762,2012
299,농·어촌학생,자연대학,생명과학기술학부,5,22,4.4,3.01032317528049,0.409546126868473,2012

In [184]:
res_data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 245 entries, 4 to 299
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   245 non-null    object
 1   대학명     245 non-null    object
 2   학과명     245 non-null    object
 3   모집인원    245 non-null    object
 4   지원인원    245 non-null    object
 5   경쟁률     245 non-null    object
 6   평균      225 non-null    object
 7   표준편차    225 non-null    object
 8   연도      245 non-null    int64
dtypes: int64(1), object(8)
memory usage: 19.1+ KB

In [185]:
res_data1 = res_data1.dropna(axis=0)

In [186]:
res_data1['모집인원'] = pd.to_numeric(res_data1['모집인원'], errors='coerce').astype('Int64')
res_data1['지원인원'] = pd.to_numeric(res_data1['지원인원'], errors='coerce').astype('Int64')
res_data1['경쟁률'] = pd.to_numeric(res_data1['경쟁률'], errors='coerce')
res_data1['평균'] = pd.to_numeric(res_data1['평균'], errors='coerce')
res_data1['표준편차'] = pd.to_numeric(res_data1['표준편차'], errors='coerce')

res_data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 225 entries, 4 to 299
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   225 non-null    object
 1   대학명     225 non-null    object
 2   학과명     225 non-null    object
 3   모집인원    225 non-null    Int64
 4   지원인원    225 non-null    Int64
 5   경쟁률     225 non-null    float64
 6   평균      225 non-null    float64
 7   표준편차    225 non-null    float64
 8   연도      225 non-null    int64
dtypes: Int64(2), float64(3), int64(1), object(3)
memory usage: 18.0+ KB

C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3448748943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data1['모집인원'] = pd.to_numeric(res_data1['모집인원'], errors='coerce').astype('Int64')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3448748943.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data1['지원인원'] = pd.to_numeric(res_data1['지원인원'], errors='coerce').astype('Int64')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3448748943.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data1['경쟁률'] = pd.to_numeric(res_data1['경쟁률'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3448748943.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data1['평균'] = pd.to_numeric(res_data1['평균'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3448748943.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data1['표준편차'] = pd.to_numeric(res_data1['표준편차'], errors='coerce')

### 2013년 데이터

In [187]:
data2.columns

Index(['Unnamed: 0', '2013학년도 대학 입학전형 수시모집 결과분석 자료', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17'],
      dtype='object')

In [188]:
data2

,Unnamed: 0,2013학년도 대학 입학전형 수시모집 결과분석 자료,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,0,캠퍼스\n구 분,모집구분명,전형구분명,대학명,모집단위명,모집\n인원,지원\n인원,최종\n등록\n인원,경쟁률,추가\n합격자\n최종\n예비순위,학생부,NaN,NaN,NaN,면접,NaN,총점,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,등급기준,NaN,600점기준,NaN,400점기준,NaN,1000점기준,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,평균,표준편차,평균,표준편차,평균,표준편차,평균,표준편차
3,3,광주캠퍼스,수시모집,학생부성적우수자,간호대학,간호학과,44,233,42,5.295454,16,2.25335461883977,0.440001168041013,589.4122,3.81943334713562,362.7405184657,13.8957091349181,952.152716,13.7540557607403
4,4,광주캠퍼스,수시모집,학생부성적우수자,경영대학,경영학부,140,540,133,3.857142,42,2.61943627669695,0.520284479221061,586.265373,4.5046588219275,356.9273905057,11.554560833886,943.192752,12.1618824927815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65528,65528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65529,65529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65530,65530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65531,65531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65532,65532,NaN,NaN,NaN,NaN,NaN,2703,14922,2360,NaN,655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
# 사용한 컬럼만 필터링 후 저장
data2 = data2[data2['2013학년도 대학 입학전형 수시모집 결과분석 자료'] == '광주캠퍼스']
res_data2 = data2[['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 10', 'Unnamed: 11']].copy()

res_data2 = res_data2.rename(columns = {
    'Unnamed: 2' : '전형구분명',
    'Unnamed: 3' : '대학명',
    'Unnamed: 4' : '학과명',
    'Unnamed: 5' : '모집인원',
    'Unnamed: 6' : '지원인원',
    'Unnamed: 8' : '경쟁률',
    'Unnamed: 10' : '평균',
    'Unnamed: 11' : '표준편차'
})
res_data2['연도'] = 2013
res_data2

,전형구분명,대학명,학과명,모집인원,지원인원,경쟁률,평균,표준편차,연도
3,학생부성적우수자,간호대학,간호학과,44,233,5.295454,2.25335461883977,0.440001168041013,2013
4,학생부성적우수자,경영대학,경영학부,140,540,3.857142,2.61943627669695,0.520284479221061,2013
5,학생부성적우수자,경영대학,경제학부,52,339,6.51923,2.76339617116511,0.21337530069043,2013
6,학생부성적우수자,경영대학,지역개발학전공,9,73,8.111111,3.05963466318086,0.179494192811648,2013
7,학생부성적우수자,공과대학,건축학전공,11,64,5.818181,3.04442395854722,0.440290335003202,2013
...,...,...,...,...,...,...,...,...,...
325,농·어촌학생,자연대학,물리학과,3,7,2.333333,4.67809120267019,0.294222761336419,2013
326,농·어촌학생,자연대학,지구환경과학부,4,11,2.75,4.29839581568019,0.885432893981397,2013
327,농·어촌학생,자연대학,생물학과,1,12,12,4.59090909090909,0,2013
328,농·어촌학생,자연대학,화학과,2,6,3,2.57449359661207,0.0708964743099134,2013
329,농·어촌학생,자연대학,생명과학기술학부,5,18,3.6,3.03479337908079,0.622685295820591,2013

In [190]:
# 결측치 확인
res_data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 269 entries, 3 to 329
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   269 non-null    object
 1   대학명     269 non-null    object
 2   학과명     269 non-null    object
 3   모집인원    269 non-null    object
 4   지원인원    269 non-null    object
 5   경쟁률     269 non-null    object
 6   평균      243 non-null    object
 7   표준편차    243 non-null    object
 8   연도      269 non-null    int64
dtypes: int64(1), object(8)
memory usage: 21.0+ KB

In [191]:
# 결측치 있는 행 제거
res_data2 = res_data2.dropna(axis=0)

In [192]:
# 데이터 형변환
res_data2['모집인원'] = pd.to_numeric(res_data2['모집인원'], errors='coerce')
res_data2['지원인원'] = pd.to_numeric(res_data2['지원인원'], errors='coerce')
res_data2['경쟁률'] = pd.to_numeric(res_data2['경쟁률'], errors='coerce')
res_data2['평균'] = pd.to_numeric(res_data2['평균'], errors='coerce')
res_data2['표준편차'] = pd.to_numeric(res_data2['표준편차'], errors='coerce')

res_data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243 entries, 3 to 329
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   243 non-null    object
 1   대학명     243 non-null    object
 2   학과명     243 non-null    object
 3   모집인원    243 non-null    int64
 4   지원인원    243 non-null    int64
 5   경쟁률     243 non-null    float64
 6   평균      243 non-null    float64
 7   표준편차    243 non-null    float64
 8   연도      243 non-null    int64
dtypes: float64(3), int64(3), object(3)
memory usage: 19.0+ KB

C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\2772027145.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data2['모집인원'] = pd.to_numeric(res_data2['모집인원'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\2772027145.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data2['지원인원'] = pd.to_numeric(res_data2['지원인원'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\2772027145.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data2['경쟁률'] = pd.to_numeric(res_data2['경쟁률'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\2772027145.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data2['평균'] = pd.to_numeric(res_data2['평균'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\2772027145.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data2['표준편차'] = pd.to_numeric(res_data2['표준편차'], errors='coerce')

In [193]:
res_data2

        전형구분명   대학명       학과명  모집인원  지원인원        경쟁률        평균      표준편차    연도
3    학생부성적우수자  간호대학      간호학과    44   233   5.295454  2.253355  0.440001  2013
4    학생부성적우수자  경영대학      경영학부   140   540   3.857142  2.619436  0.520284  2013
5    학생부성적우수자  경영대학      경제학부    52   339   6.519230  2.763396  0.213375  2013
6    학생부성적우수자  경영대학   지역개발학전공     9    73   8.111111  3.059635  0.179494  2013
7    학생부성적우수자  공과대학     건축학전공    11    64   5.818181  3.044424  0.440290  2013
..        ...   ...       ...   ...   ...        ...       ...       ...   ...
325    농·어촌학생  자연대학      물리학과     3     7   2.333333  4.678091  0.294223  2013
326    농·어촌학생  자연대학   지구환경과학부     4    11   2.750000  4.298396  0.885433  2013
327    농·어촌학생  자연대학      생물학과     1    12  12.000000  4.590909  0.000000  2013
328    농·어촌학생  자연대학       화학과     2     6   3.000000  2.574494  0.070896  2013
329    농·어촌학생  자연대학  생명과학기술학부     5    18   3.600000  3.034793  0.622685  2013

[243 rows x 9 columns]

### 2014년 데이터

In [194]:
data3.columns

Index(['Unnamed: 0', '2014학년도 대학 입학전형 수시모집 결과분석 자료', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [195]:
data3 = data3[data3['2014학년도 대학 입학전형 수시모집 결과분석 자료'] == '광주캠퍼스']
res_data3 = data3[['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 7', 'Unnamed: 9', 'Unnamed: 10']]
res_data3 = res_data3.rename(columns = {
    'Unnamed: 1' : '전형구분명',
    'Unnamed: 2' : '대학명',
    'Unnamed: 3' : '학과명',
    'Unnamed: 4' : '모집인원',
    'Unnamed: 5' : '지원인원',
    'Unnamed: 7' : '경쟁률',
    'Unnamed: 9' : '평균',
    'Unnamed: 10' : '표준편차'
})
res_data3['연도'] = 2014
res_data3

,전형구분명,대학명,학과명,모집인원,지원인원,경쟁률,평균,표준편차,연도
3,학생부성적우수자,간호대학,간호학과,43,295,6.860465,1.9979978482603,0.247549108483868,2014
4,학생부성적우수자,경영대학,경영학부,140,533,3.807142,2.56185863266475,0.426137392167065,2014
5,학생부성적우수자,경영대학,경제학부,53,195,3.679245,2.94498553585978,0.512857416174511,2014
6,학생부성적우수자,경영대학,지역개발학전공,8,41,5.125,3.03299221208259,0.136394521681075,2014
7,학생부성적우수자,공과대학,건축·도시설계전공,11,55,5,2.81383040879556,0.435857819928087,2014
...,...,...,...,...,...,...,...,...,...
297,농·어촌학생,자연대학,물리학과,3,10,3.333333,3.91494762460552,0.499979578064867,2014
298,농·어촌학생,자연대학,지구환경과학부,4,16,4,4.20632478130422,0.445972985246909,2014
299,농·어촌학생,자연대학,생물학과,1,10,10,3.7734375,0,2014
300,농·어촌학생,자연대학,화학과,2,6,3,2.50026126862959,0.790698809676613,2014
301,농·어촌학생,자연대학,생명과학기술학부,5,14,2.8,3.3712634395586,0.654977830414116,2014

In [196]:
res_data3 = res_data3.dropna(axis=0)

In [197]:
# 데이터 형변환
res_data3['모집인원'] = pd.to_numeric(res_data3['모집인원'], errors='coerce')
res_data3['지원인원'] = pd.to_numeric(res_data3['지원인원'], errors='coerce')
res_data3['경쟁률'] = pd.to_numeric(res_data3['경쟁률'], errors='coerce')
res_data3['평균'] = pd.to_numeric(res_data3['평균'], errors='coerce')
res_data3['표준편차'] = pd.to_numeric(res_data3['표준편차'], errors='coerce')

res_data3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 241 entries, 3 to 301
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   241 non-null    object
 1   대학명     241 non-null    object
 2   학과명     241 non-null    object
 3   모집인원    241 non-null    int64
 4   지원인원    241 non-null    int64
 5   경쟁률     241 non-null    float64
 6   평균      241 non-null    float64
 7   표준편차    241 non-null    float64
 8   연도      241 non-null    int64
dtypes: float64(3), int64(3), object(3)
memory usage: 18.8+ KB

### 2015년

In [198]:
data4.columns

Index(['Unnamed: 0', '2015학년도 대학 입학전형 수시모집 결과분석 자료', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17'],
      dtype='object')

In [199]:
data4 = data4[data4['2015학년도 대학 입학전형 수시모집 결과분석 자료'] == '광주캠퍼스']
res_data4 = data4[['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 10', 'Unnamed: 11']]
res_data4 = res_data4.rename(columns = {
    'Unnamed: 2' : '전형구분명',
    'Unnamed: 3' : '대학명',
    'Unnamed: 4' : '학과명',
    'Unnamed: 5' : '모집인원',
    'Unnamed: 6' : '지원인원',
    'Unnamed: 8' : '경쟁률',
    'Unnamed: 10' : '평균',
    'Unnamed: 11' : '표준편차'
})
res_data4['연도'] = 2015
res_data4

               전형구분명   대학명         학과명 모집인원 지원인원    경쟁률     평균   표준편차    연도
4          학생부교과일반전형  본부직할  자율전공학부(4년)   16   79  4.938  2.952  0.375  2015
5          학생부교과일반전형  본부직할  자율전공학부(1년)   21  142  6.762  2.266  0.314  2015
6          학생부교과일반전형  간호대학        간호학과   42  338  8.048  1.747  0.267  2015
7          학생부교과일반전형  경영대학        경영학부  145  582  4.014  2.422   0.33  2015
8          학생부교과일반전형  경영대학        경제학부   57  273  4.789  2.752  0.263  2015
..               ...   ...         ...  ...  ...    ...    ...    ...   ...
352          장애인등대상자  자연대학    생명과학기술학부  NaN    2    NaN    NaN    NaN  2015
370  기초생활수급권자또는차상위계층  본부직할  자율전공학부(1년)    5   68   13.6  3.172  0.266  2015
371  기초생활수급권자또는차상위계층  사회대학        행정학과    5   62   12.4  3.002  0.266  2015
372  기초생활수급권자또는차상위계층  생활대학    생활환경복지학과    5   60     12  3.022  0.695  2015
373  기초생활수급권자또는차상위계층  생활대학     식품영양과학부    1   11     11    NaN    NaN  2015

[278 rows x 9 columns]

In [200]:
res_data4 = res_data4.dropna(axis=0)

In [201]:
res_data4['모집인원'] = pd.to_numeric(res_data4['모집인원'], errors='coerce')
res_data4['지원인원'] = pd.to_numeric(res_data4['지원인원'], errors='coerce')
res_data4['경쟁률'] = pd.to_numeric(res_data4['경쟁률'], errors='coerce')
res_data4['평균'] = pd.to_numeric(res_data4['평균'], errors='coerce')
res_data4['표준편차'] = pd.to_numeric(res_data4['표준편차'], errors='coerce')

res_data4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 214 entries, 4 to 372
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   214 non-null    object
 1   대학명     214 non-null    object
 2   학과명     214 non-null    object
 3   모집인원    214 non-null    int64
 4   지원인원    214 non-null    int64
 5   경쟁률     214 non-null    float64
 6   평균      214 non-null    float64
 7   표준편차    214 non-null    float64
 8   연도      214 non-null    int64
dtypes: float64(3), int64(3), object(3)
memory usage: 16.7+ KB

C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3473648472.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data4['모집인원'] = pd.to_numeric(res_data4['모집인원'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3473648472.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data4['지원인원'] = pd.to_numeric(res_data4['지원인원'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3473648472.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data4['경쟁률'] = pd.to_numeric(res_data4['경쟁률'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3473648472.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data4['평균'] = pd.to_numeric(res_data4['평균'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3473648472.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data4['표준편차'] = pd.to_numeric(res_data4['표준편차'], errors='coerce')

### 2016년

In [202]:
data5.columns

Index(['Unnamed: 0', '2016학년도 대학 입학전형 수시모집 결과분석 자료', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17'],
      dtype='object')

In [203]:
data5 = data5[data5['2016학년도 대학 입학전형 수시모집 결과분석 자료'] == '광주캠퍼스']
res_data5 = data5[['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 10', 'Unnamed: 11']]
res_data5 = res_data5.rename(columns = {
    'Unnamed: 2' : '전형구분명',
    'Unnamed: 3' : '대학명',
    'Unnamed: 4' : '학과명',
    'Unnamed: 5' : '모집인원',
    'Unnamed: 6' : '지원인원',
    'Unnamed: 8' : '경쟁률',
    'Unnamed: 10' : '평균',
    'Unnamed: 11' : '표준편차'
})
res_data5['연도'] = 2016
res_data5

         전형구분명   대학명         학과명 모집인원 지원인원    경쟁률     평균   표준편차    연도
4    학생부교과일반전형  본부직할  자율전공학부(4년)   16  123  7.688  2.671  0.404  2016
5    학생부교과일반전형  간호대학        간호학과   43  218   5.07  2.009  0.346  2016
6    학생부교과일반전형  경영대학        경영학부  139  569  4.094  2.414  0.346  2016
7    학생부교과일반전형  경영대학        경제학부   57  280  4.912  2.723  0.246  2016
8    학생부교과일반전형  경영대학     지역개발학전공   10   62    6.2  3.238  0.082  2016
..         ...   ...         ...  ...  ...    ...    ...    ...   ...
398    단원고특별전형  자연대학         수학과  NaN  NaN    NaN    NaN    NaN  2016
399    단원고특별전형  자연대학        통계학과  NaN  NaN    NaN    NaN    NaN  2016
400    단원고특별전형  자연대학        물리학과  NaN  NaN    NaN    NaN    NaN  2016
401    단원고특별전형  자연대학        생물학과  NaN  NaN    NaN    NaN    NaN  2016
402    단원고특별전형  자연대학         화학과  NaN  NaN    NaN    NaN    NaN  2016

[295 rows x 9 columns]

In [204]:
res_data5 = res_data5.dropna(axis=0)

In [205]:
res_data5['모집인원'] = pd.to_numeric(res_data5['모집인원'], errors='coerce')
res_data5['지원인원'] = pd.to_numeric(res_data5['지원인원'], errors='coerce')
res_data5['경쟁률'] = pd.to_numeric(res_data5['경쟁률'], errors='coerce')
res_data5['평균'] = pd.to_numeric(res_data5['평균'], errors='coerce')
res_data5['표준편차'] = pd.to_numeric(res_data5['표준편차'], errors='coerce')

res_data5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 209 entries, 4 to 373
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   209 non-null    object
 1   대학명     209 non-null    object
 2   학과명     209 non-null    object
 3   모집인원    209 non-null    int64
 4   지원인원    209 non-null    int64
 5   경쟁률     209 non-null    float64
 6   평균      209 non-null    float64
 7   표준편차    209 non-null    float64
 8   연도      209 non-null    int64
dtypes: float64(3), int64(3), object(3)
memory usage: 16.3+ KB

C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3219534780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data5['모집인원'] = pd.to_numeric(res_data5['모집인원'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3219534780.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data5['지원인원'] = pd.to_numeric(res_data5['지원인원'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3219534780.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data5['경쟁률'] = pd.to_numeric(res_data5['경쟁률'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3219534780.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data5['평균'] = pd.to_numeric(res_data5['평균'], errors='coerce')
C:\Users\j2000\AppData\Local\Temp\ipykernel_1676\3219534780.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_data5['표준편차'] = pd.to_numeric(res_data5['표준편차'], errors='coerce')

### 2017년

In [206]:
data6.columns

Index(['Unnamed: 0', '2017학년도 대학 입학전형 수시모집 결과분석 자료', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')

In [207]:
data6 = data6[data6['2017학년도 대학 입학전형 수시모집 결과분석 자료'] == '광주캠퍼스']
res_data6 = data6[['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 12']]
res_data6 = res_data6.rename(columns = {
    'Unnamed: 3' : '전형구분명',
    'Unnamed: 4' : '대학명',
    'Unnamed: 5' : '학과명',
    'Unnamed: 6' : '모집인원',
    'Unnamed: 7' : '지원인원',
    'Unnamed: 9' : '경쟁률',
    'Unnamed: 11' : '평균',
    'Unnamed: 12' : '표준편차'
})
res_data6['연도'] = 2017

res_data6 = res_data6.dropna(axis=0)

res_data6['모집인원'] = pd.to_numeric(res_data6['모집인원'], errors='coerce')
res_data6['지원인원'] = pd.to_numeric(res_data6['지원인원'], errors='coerce')
res_data6['경쟁률'] = pd.to_numeric(res_data6['경쟁률'], errors='coerce')
res_data6['평균'] = pd.to_numeric(res_data6['평균'], errors='coerce')
res_data6['표준편차'] = pd.to_numeric(res_data6['표준편차'], errors='coerce')

res_data6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 260 entries, 7 to 446
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   260 non-null    object
 1   대학명     260 non-null    object
 2   학과명     260 non-null    object
 3   모집인원    260 non-null    int64
 4   지원인원    260 non-null    int64
 5   경쟁률     260 non-null    float64
 6   평균      260 non-null    float64
 7   표준편차    260 non-null    float64
 8   연도      260 non-null    int64
dtypes: float64(3), int64(3), object(3)
memory usage: 20.3+ KB

In [208]:
res_data6

         전형구분명   대학명           학과명  모집인원  지원인원    경쟁률     평균   표준편차    연도
7    학생부교과일반전형  본부직할    자율전공학부(4년)    15    85  5.667  2.801  0.306  2017
8    학생부교과일반전형  간호대학          간호학과    34   182  5.353  2.241  0.391  2017
9    학생부교과일반전형  경영대학          경영학부    98   459  4.684  2.517  0.408  2017
10   학생부교과일반전형  경영대학          경제학부    45   217  4.822  2.691  0.278  2017
11   학생부교과일반전형  경영대학       지역개발학전공    10    75  7.500  3.024  0.169  2017
..         ...   ...           ...   ...   ...    ...    ...    ...   ...
441   특성화고교출신자  농생대학      농식품생명화학부     2    10  5.000  2.263  0.211  2017
442   특성화고교출신자  농생대학        동물자원학부     2    11  5.500  3.380  0.263  2017
443   특성화고교출신자  농생대학  지역·바이오시스템공학과     2     4  2.000  2.353  1.073  2017
444   특성화고교출신자  농생대학        농업경제학과     2     6  3.000  3.626  0.138  2017
446   특성화고교출신자  사회대학          행정학과     2     6  3.000  2.855  0.855  2017

[260 rows x 9 columns]

### 2018년

In [209]:
data7.columns

Index(['Unnamed: 0', '2018학년도 대학 입학전형 수시모집 결과분석 자료', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20'],
      dtype='object')

In [210]:
data7 = data7[data7['2018학년도 대학 입학전형 수시모집 결과분석 자료'] == '광주캠퍼스']
res_data7 = data7[['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 12']]
res_data7 = res_data7.rename(columns = {
    'Unnamed: 3' : '전형구분명',
    'Unnamed: 4' : '대학명',
    'Unnamed: 5' : '학과명',
    'Unnamed: 6' : '모집인원',
    'Unnamed: 7' : '지원인원',
    'Unnamed: 9' : '경쟁률',
    'Unnamed: 11' : '평균',
    'Unnamed: 12' : '표준편차'
})
res_data7['연도'] = 2018

res_data7 = res_data7.dropna(axis=0)

res_data7['모집인원'] = pd.to_numeric(res_data7['모집인원'], errors='coerce')
res_data7['지원인원'] = pd.to_numeric(res_data7['지원인원'], errors='coerce')
res_data7['경쟁률'] = pd.to_numeric(res_data7['경쟁률'], errors='coerce')
res_data7['평균'] = pd.to_numeric(res_data7['평균'], errors='coerce')
res_data7['표준편차'] = pd.to_numeric(res_data7['표준편차'], errors='coerce')

res_data7.info()

<class 'pandas.core.frame.DataFrame'>
Index: 272 entries, 7 to 481
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   272 non-null    object
 1   대학명     272 non-null    object
 2   학과명     272 non-null    object
 3   모집인원    272 non-null    int64
 4   지원인원    272 non-null    int64
 5   경쟁률     272 non-null    float64
 6   평균      272 non-null    float64
 7   표준편차    272 non-null    float64
 8   연도      272 non-null    int64
dtypes: float64(3), int64(3), object(3)
memory usage: 21.2+ KB

In [211]:
res_data7

         전형구분명   대학명           학과명  모집인원  지원인원    경쟁률     평균   표준편차    연도
7    학생부교과일반전형  본부직할    자율전공학부(4년)    15    65  4.333  2.916  0.199  2018
8    학생부교과일반전형  간호대학          간호학과    39   317  8.128  2.056  0.190  2018
9    학생부교과일반전형  경영대학          경영학부   116   470  4.052  2.754  0.419  2018
10   학생부교과일반전형  경영대학          경제학부    35   117  3.343  3.208  0.606  2018
11   학생부교과일반전형  경영대학       지역개발학전공    12    42  3.500  3.203  0.210  2018
..         ...   ...           ...   ...   ...    ...    ...    ...   ...
476   특성화고교출신자  농생대학       식물생명공학부     4    18  4.500  2.592  0.428  2018
478   특성화고교출신자  농생대학      농식품생명화학부     2     8  4.000  2.131  0.006  2018
479   특성화고교출신자  농생대학        동물자원학부     2    14  7.000  2.055  0.412  2018
480   특성화고교출신자  농생대학  지역·바이오시스템공학과     2    11  5.500  2.007  0.036  2018
481   특성화고교출신자  농생대학        농업경제학과     2    13  6.500  2.008  0.716  2018

[272 rows x 9 columns]

### 2020년

In [212]:
data8.columns

Index(['Unnamed: 0', '2020학년도 대학 입학전형 수시모집 결과분석 자료(등록자 기준)', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [213]:
data8 = data8[data8['2020학년도 대학 입학전형 수시모집 결과분석 자료(등록자 기준)'] == '광주캠퍼스']
res_data8 = data8[['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 14', 'Unnamed: 15']]
res_data8 = res_data8.rename(columns = {
    'Unnamed: 2' : '전형구분명',
    'Unnamed: 3' : '대학명',
    'Unnamed: 4' : '학과명',
    'Unnamed: 5' : '모집인원',
    'Unnamed: 6' : '지원인원',
    'Unnamed: 8' : '경쟁률',
    'Unnamed: 14' : '평균',
    'Unnamed: 15' : '표준편차'
})
res_data8['연도'] = 2020

res_data8['모집인원'] = pd.to_numeric(res_data8['모집인원'], errors='coerce')
res_data8['지원인원'] = pd.to_numeric(res_data8['지원인원'], errors='coerce')
res_data8['경쟁률'] = pd.to_numeric(res_data8['경쟁률'], errors='coerce')
res_data8['평균'] = pd.to_numeric(res_data8['평균'], errors='coerce')
res_data8['표준편차'] = pd.to_numeric(res_data8['표준편차'], errors='coerce')

res_data8 = res_data8.dropna(axis=0)

res_data8.info()

<class 'pandas.core.frame.DataFrame'>
Index: 281 entries, 6 to 519
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   281 non-null    object
 1   대학명     281 non-null    object
 2   학과명     281 non-null    object
 3   모집인원    281 non-null    float64
 4   지원인원    281 non-null    float64
 5   경쟁률     281 non-null    float64
 6   평균      281 non-null    float64
 7   표준편차    281 non-null    float64
 8   연도      281 non-null    int64
dtypes: float64(5), int64(1), object(3)
memory usage: 22.0+ KB

In [214]:
res_data8

,전형구분명,대학명,학과명,모집인원,지원인원,경쟁률,평균,표준편차,연도
6,학생부교과(일반전형),본부직할,자율전공학부(4년),14.0,91.0,6.500,3.058,0.333,2020
7,학생부교과(일반전형),간호대학,간호학과,22.0,209.0,9.500,2.004,0.144,2020
8,학생부교과(일반전형),경영대학,경영학부,108.0,506.0,4.685,2.749,0.338,2020
9,학생부교과(일반전형),경영대학,경제학부,47.0,223.0,4.745,3.110,0.260,2020
10,학생부교과(일반전형),공과대학,건축학부,9.0,88.0,9.778,3.099,0.331,2020
...,...,...,...,...,...,...,...,...,...
507,학생부종합(고교생활우수자전형),자연과학대학,생명과학기술학부,7.0,45.0,6.429,2.545,0.306,2020
508,학생부종합(다문화가정등전형),본부직할,자율전공학부(1년),3.0,56.0,18.667,3.450,0.158,2020
514,학생부종합(대안학교장추천자전형),공과대학,산업공학과,2.0,4.0,2.000,3.191,0.168,2020
517,학생부종합(대안학교장추천자전형),인문대학,철학과,6.0,24.0,4.000,4.059,0.507,2020
519,학생부종합(후계농업경영인전형),농업생명과학대학,원예생명공학과,3.0,15.0,5.000,5.234,0.856,2020

### 2021년

In [215]:
data9.columns

Index(['Unnamed: 0', '2021학년도 대학 입학전형 수시모집 결과분석 자료(등록자 기준)', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27'],
      dtype='object')

In [216]:
data9 = data9[data9['2021학년도 대학 입학전형 수시모집 결과분석 자료(등록자 기준)'] == '광주캠퍼스']
res_data9 = data9[['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 14', 'Unnamed: 15']]
res_data9 = res_data9.rename(columns = {
    'Unnamed: 2' : '전형구분명',
    'Unnamed: 3' : '대학명',
    'Unnamed: 4' : '학과명',
    'Unnamed: 5' : '모집인원',
    'Unnamed: 6' : '지원인원',
    'Unnamed: 8' : '경쟁률',
    'Unnamed: 14' : '평균',
    'Unnamed: 15' : '표준편차'
})
res_data9['연도'] = 2021

res_data9['모집인원'] = pd.to_numeric(res_data9['모집인원'], errors='coerce')
res_data9['지원인원'] = pd.to_numeric(res_data9['지원인원'], errors='coerce')
res_data9['경쟁률'] = pd.to_numeric(res_data9['경쟁률'], errors='coerce')
res_data9['평균'] = pd.to_numeric(res_data9['평균'], errors='coerce')
res_data9['표준편차'] = pd.to_numeric(res_data9['표준편차'], errors='coerce')

res_data9 = res_data9.dropna(axis=0)

res_data9.info()

<class 'pandas.core.frame.DataFrame'>
Index: 308 entries, 6 to 563
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   308 non-null    object
 1   대학명     308 non-null    object
 2   학과명     308 non-null    object
 3   모집인원    308 non-null    float64
 4   지원인원    308 non-null    float64
 5   경쟁률     308 non-null    float64
 6   평균      308 non-null    float64
 7   표준편차    308 non-null    float64
 8   연도      308 non-null    int64
dtypes: float64(5), int64(1), object(3)
memory usage: 24.1+ KB

In [217]:
res_data9

              전형구분명   대학명         학과명  모집인원   지원인원     경쟁률     평균   표준편차    연도
6       학생부교과(일반전형)  본부직할  자율전공학부(4년)   8.0  114.0  14.250  2.868  0.200  2021
7       학생부교과(일반전형)  간호대학        간호학과  20.0  137.0   6.850  2.116  0.237  2021
8       학생부교과(일반전형)  경영대학        경영학부  92.0  458.0   4.978  2.902  0.339  2021
9       학생부교과(일반전형)  경영대학        경제학부  40.0  257.0   6.425  3.155  0.229  2021
10      학생부교과(일반전형)  공과대학        건축학부   6.0   61.0  10.167  3.125  0.157  2021
..              ...   ...         ...   ...    ...     ...    ...    ...   ...
558  실기/실적(예능우수자전형)  예술대학          피리   3.0    4.0   1.333  6.912  0.649  2021
560  실기/실적(예능우수자전형)  예술대학       한국화전공  11.0   40.0   3.636  5.277  1.368  2021
561  실기/실적(예능우수자전형)  예술대학       서양화전공  11.0   57.0   5.182  4.723  0.947  2021
562  실기/실적(예능우수자전형)  예술대학        조소전공  11.0   50.0   4.545  5.850  0.949  2021
563  실기/실적(예능우수자전형)  예술대학        공예전공  11.0  106.0   9.636  3.630  0.585  2021

[308 rows x 9 columns]

### 2022년

In [218]:
data10.columns

Index(['Unnamed: 0', '2022학년도 대학 입학전형 수시모집 결과분석 자료(등록자 기준)', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29'],
      dtype='object')

In [219]:
data10 = data10[data10['2022학년도 대학 입학전형 수시모집 결과분석 자료(등록자 기준)'] == '광주캠퍼스']
res_data10 = data10[['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 9', 'Unnamed: 16', 'Unnamed: 17']]
res_data10 = res_data10.rename(columns = {
    'Unnamed: 2' : '전형구분명',
    'Unnamed: 3' : '대학명',
    'Unnamed: 4' : '학과명',
    'Unnamed: 6' : '모집인원',
    'Unnamed: 7' : '지원인원',
    'Unnamed: 9' : '경쟁률',
    'Unnamed: 16' : '평균',
    'Unnamed: 17' : '표준편차'
})
res_data10['연도'] = 2022

res_data10['모집인원'] = pd.to_numeric(res_data10['모집인원'], errors='coerce')
res_data10['지원인원'] = pd.to_numeric(res_data10['지원인원'], errors='coerce')
res_data10['경쟁률'] = pd.to_numeric(res_data10['경쟁률'], errors='coerce')
res_data10['평균'] = pd.to_numeric(res_data10['평균'], errors='coerce')
res_data10['표준편차'] = pd.to_numeric(res_data10['표준편차'], errors='coerce')

res_data10 = res_data10.dropna(axis=0)

res_data10.info()

<class 'pandas.core.frame.DataFrame'>
Index: 345 entries, 6 to 676
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   345 non-null    object
 1   대학명     345 non-null    object
 2   학과명     345 non-null    object
 3   모집인원    345 non-null    int64
 4   지원인원    345 non-null    int64
 5   경쟁률     345 non-null    float64
 6   평균      345 non-null    float64
 7   표준편차    345 non-null    float64
 8   연도      345 non-null    int64
dtypes: float64(3), int64(3), object(3)
memory usage: 27.0+ KB

In [220]:
res_data10

              전형구분명   대학명         학과명  모집인원  지원인원   경쟁률    평균  표준편차    연도
6       학생부교과(일반전형)  본부직할  자율전공학부(4년)     8    75   9.4  2.84  0.21  2022
7       학생부교과(일반전형)  간호대학        간호학과    15   153  10.2  2.27  0.20  2022
8       학생부교과(일반전형)  경영대학        경영학부    52   531  10.2  2.72  0.25  2022
9       학생부교과(일반전형)  경영대학        경제학부    17   147   8.6  3.34  0.24  2022
10      학생부교과(일반전형)  공과대학        건축학부     5    83  16.6  3.13  0.32  2022
..              ...   ...         ...   ...   ...   ...   ...   ...   ...
671  실기/실적(예능우수자전형)  예술대학          피리     3     5   1.7  7.02  0.45  2022
673  실기/실적(예능우수자전형)  예술대학       한국화전공    11    31   2.8  5.33  1.16  2022
674  실기/실적(예능우수자전형)  예술대학       서양화전공    11    41   3.7  5.19  0.92  2022
675  실기/실적(예능우수자전형)  예술대학        조소전공    11    33   3.0  5.64  1.37  2022
676  실기/실적(예능우수자전형)  예술대학        공예전공    11    77   7.0  3.75  0.52  2022

[345 rows x 9 columns]

### 2023년

In [221]:
data11.columns

Index(['Unnamed: 0', '2023학년도 대학 입학전형 수시모집 결과분석 자료(등록자 기준)', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30'],
      dtype='object')

In [222]:
data11 = data11[data11['2023학년도 대학 입학전형 수시모집 결과분석 자료(등록자 기준)'] == '광주캠퍼스']
res_data11 = data11[['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 15', 'Unnamed: 16']]
res_data11 = res_data11.rename(columns = {
    'Unnamed: 2' : '전형구분명',
    'Unnamed: 3' : '대학명',
    'Unnamed: 4' : '학과명',
    'Unnamed: 5' : '모집인원',
    'Unnamed: 6' : '지원인원',
    'Unnamed: 8' : '경쟁률',
    'Unnamed: 15' : '평균',
    'Unnamed: 16' : '표준편차'
})
res_data11['연도'] = 2023

res_data11['모집인원'] = pd.to_numeric(res_data11['모집인원'], errors='coerce')
res_data11['지원인원'] = pd.to_numeric(res_data11['지원인원'], errors='coerce')
res_data11['경쟁률'] = pd.to_numeric(res_data11['경쟁률'], errors='coerce')
res_data11['평균'] = pd.to_numeric(res_data11['평균'], errors='coerce')
res_data11['표준편차'] = pd.to_numeric(res_data11['표준편차'], errors='coerce')

res_data11 = res_data11.dropna(axis=0)

res_data11.info()

<class 'pandas.core.frame.DataFrame'>
Index: 354 entries, 6 to 641
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   354 non-null    object
 1   대학명     354 non-null    object
 2   학과명     354 non-null    object
 3   모집인원    354 non-null    int64
 4   지원인원    354 non-null    float64
 5   경쟁률     354 non-null    float64
 6   평균      354 non-null    float64
 7   표준편차    354 non-null    float64
 8   연도      354 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 27.7+ KB

In [223]:
res_data11

              전형구분명   대학명          학과명  모집인원   지원인원    경쟁률    평균  표준편차    연도
6       학생부교과(일반전형)  간호대학         간호학과    15  207.0  13.80  2.01  0.15  2023
7       학생부교과(일반전형)  경영대학         경영학부    70  366.0   5.23  3.09  0.45  2023
8       학생부교과(일반전형)  경영대학         경제학부    29  295.0  10.17  3.32  0.22  2023
9       학생부교과(일반전형)  공과대학         건축학부     6   73.0  12.17  2.82  0.17  2023
10      학생부교과(일반전형)  공과대학    건축·도시설계전공    10   52.0   5.20  3.23  0.47  2023
..              ...   ...          ...   ...    ...    ...   ...   ...   ...
637  실기/실적(예능우수자전형)  예술대학  미술학과(한국화전공)    11   27.0   2.46  5.90  1.73  2023
638  실기/실적(예능우수자전형)  예술대학  미술학과(서양화전공)    11   45.0   4.09  5.14  1.21  2023
639  실기/실적(예능우수자전형)  예술대학   미술학과(조소전공)    11   29.0   2.64  5.82  1.22  2023
640  실기/실적(예능우수자전형)  예술대학   미술학과(공예전공)    11   69.0   6.27  4.52  0.94  2023
641  실기/실적(예능우수자전형)  예술대학        디자인학과    30  165.0   5.50  4.39  0.75  2023

[354 rows x 9 columns]

### 2024년

In [224]:
data12.columns

Index(['Unnamed: 0', '2024학년도 대학 입학전형 수시모집 결과분석 자료(등록자 기준)', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [225]:
data12 = data12[data12['2024학년도 대학 입학전형 수시모집 결과분석 자료(등록자 기준)'] == '광주캠퍼스']
res_data12 = data12[['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 15', 'Unnamed: 16']]
res_data12 = res_data12.rename(columns = {
    'Unnamed: 2' : '전형구분명',
    'Unnamed: 3' : '대학명',
    'Unnamed: 4' : '학과명',
    'Unnamed: 5' : '모집인원',
    'Unnamed: 6' : '지원인원',
    'Unnamed: 8' : '경쟁률',
    'Unnamed: 15' : '평균',
    'Unnamed: 16' : '표준편차'
})
res_data12['연도'] = 2024

res_data12['모집인원'] = pd.to_numeric(res_data12['모집인원'], errors='coerce')
res_data12['지원인원'] = pd.to_numeric(res_data12['지원인원'], errors='coerce')
res_data12['경쟁률'] = pd.to_numeric(res_data12['경쟁률'], errors='coerce')
res_data12['평균'] = pd.to_numeric(res_data12['평균'], errors='coerce')
res_data12['표준편차'] = pd.to_numeric(res_data12['표준편차'], errors='coerce')

res_data12 = res_data12.dropna(axis = 0)

res_data12.info()

<class 'pandas.core.frame.DataFrame'>
Index: 356 entries, 6 to 595
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   356 non-null    object
 1   대학명     356 non-null    object
 2   학과명     356 non-null    object
 3   모집인원    356 non-null    int64
 4   지원인원    356 non-null    int64
 5   경쟁률     356 non-null    float64
 6   평균      356 non-null    float64
 7   표준편차    356 non-null    float64
 8   연도      356 non-null    int64
dtypes: float64(3), int64(3), object(3)
memory usage: 27.8+ KB

In [226]:
res_data12

                전형구분명   대학명        학과명  모집인원  지원인원       경쟁률    평균  표준편차    연도
6         학생부교과(일반전형)  간호대학       간호학과    15   126  8.400000  2.19  0.20  2024
7         학생부교과(일반전형)  경영대학       경영학부    70   412  5.885714  3.43  0.40  2024
8         학생부교과(일반전형)  경영대학       경제학부    29   155  5.344828  3.56  0.35  2024
9         학생부교과(일반전형)  공과대학       건축학부     6    40  6.666667  3.18  0.44  2024
10        학생부교과(일반전형)  공과대학  건축·도시설계전공    10    65  6.500000  3.04  0.19  2024
..                ...   ...        ...   ...   ...       ...   ...   ...   ...
589  학생부교과(특수교육대상자전형)  농생대학       농생대학     3     5  1.666667  5.47  0.54  2024
590  학생부교과(특수교육대상자전형)  사범대학       사범대학     3    18  6.000000  2.71  0.55  2024
592  학생부교과(특수교육대상자전형)  생활대학       생활대학     3    12  4.000000  4.41  1.16  2024
594  학생부교과(특수교육대상자전형)  인문대학       인문대학     3     4  1.333333  5.84  1.25  2024
595  학생부교과(특수교육대상자전형)  자연대학       자연대학     3     2  0.666667  5.55  0.44  2024

[356 rows x 9 columns]

## 사용할 컬럼 전처리 끝
- 앞으로 해야할 일
    - 전처리한 데이터 프레임 결합 후 csv로 저장

In [227]:
# 데이터프레임을 리스트로 모아서 병합
dataframes = [res_data1, res_data2, res_data3, res_data4, res_data5, res_data6, 
              res_data7, res_data8, res_data9, res_data10, res_data11, res_data12]

# 수직 병합 (행 기준 병합)
final_data = pd.concat(dataframes, ignore_index=True)

In [229]:
final_data['전형구분명'].unique()

array(['학생부성적우수자', '사회적통합대상자-국가보훈,아동복지,소아암', '사회적통합대상자-대안교육특성화고',
       '사회적통합대상자-후계농업경영인', '복수학위희망자', '특목고동일계출신자', '글로벌리더십', '전공특성우수자',
       '특성화(전문계)고교출신자', '특수교육대상자', '기초생활수급권자또는차상위계층자', '농·어촌학생',
       '장애인등대상자', '리더십', '학생부교과일반전형', '지역인재전형', '학생부종합일반전형', '특성화고교장추천자',
       '후계농업경영인', '국가보훈대상자', '특성화고교출신자', '기초생활수급권자또는차상위계층', '다문화가정등',
       '창의인재종합(지역인재)', '학생부교과(일반전형)', '학생부교과(예능우수자전형)',
       '학생부교과(국가보훈대상자전형)', '학생부교과(기초/차상위/한부모전형)', '학생부교과(농어촌학생전형)',
       '학생부교과(특성화고교졸업자전형)', '학생부종합(지역인재전형)', '학생부종합(고교생활우수자전형)',
       '학생부종합(다문화가정등전형)', '학생부종합(대안학교장추천자전형)', '학생부종합(후계농업경영인전형)',
       '학생부교과(다문화/다자녀등전형)', '실기/실적(예능우수자전형)', '학생부교과(예체능우수자전형)',
       '학생부교과(지역인재전형)', '학생부교과(사회적배려대상자전형)', '학생부교과(특수교육대상자전형)',
       '학생부교과(지역기회균형전형)', '학생부교과(사회다양성전형)', '학생부교과(기초생활/차상위/한부모가족전형)',
       '학생부종합(고교생활우수자전형 유형Ⅰ)', '학생부교과(기초/차상위/한부모가족전형)'], dtype=object)

In [231]:
final_data['학과명'].unique()

array(['간호학과', '경영학부', '경제학부', '지역개발학전공', '건축학부', '토목공학과', '환경공학과',
       '에너지자원공학과', '기계시스템공학부', '신소재공학부', '전자정보통신공학전공', '컴퓨터정보통신공학전공',
       '소프트웨어공학전공', '응용화학공학부', '고분자·섬유시스템공학과', '산업공학과', '전기공학과', '생물공학과',
       '식물생명공학부', '응용식물학전공', '산림자원학부', '조경학과', '식품공학전공', '생명화학전공',
       '분자생명공학전공', '동물자원학부', '바이오에너지공학과', '지역시스템공학전공', '생물산업기계공학전공',
       '농업경제학과', '국어교육과', '영어교육과', '교육학과', '유아교육과', '지리교육과', '역사교육과',
       '윤리교육과', '수학교육과', '물리교육과', '화학교육과', '지구과학교육과', '가정교육과', '정치외교학과',
       '사회학과', '심리학과', '문헌정보학과', '신문방송학과', '지리학과', '인류학과', '행정학과',
       '생활환경복지학과', '식품영양학과', '의류학과', '수의예과', '국악과', '한국화전공', '서양화전공',
       '조소전공', '시각디자인전공', '공예전공', '이론전공', '의예과', '국어국문학과', '영어영문학과',
       '독일언어문학과', '불어불문학과', '중어중문학과', '일어일문학과', '사학과', '철학과', '수학과',
       '통계학과', '물리학과', '지구환경과학부', '생물학과', '화학과', '생명과학기술학부',
       '자율전공학부(인문.자연)', '지역·바이오시스템공학과', '자율전공학부(인문)', '자율전공학부(자연)',
       '전자컴퓨터공학부', '응용생물공학부', '생물교육과', '체육교육과', '건축학전공', '건축공학전공',
       '환경에너지공학과', '기계공학부', '식품영양과학부', '지질환경전공', '자율전공학부(1년)',
       '자율전공학부(4년)', '건축·도시설계전공', '고분자융합소재공학부', '해양환경전공',
       '치의학과(학·석사통합과정)', '화학공학전공', '정밀화학전공', '광·전자화공소재전공', '농식품생명화학부',
       '화학공학부', '응용화학공학전공', '광·전자화학공학전공', '문화인류고고학과', '생활복지학과', '화공안전전공',
       '원예생명공학전공', '응용생물학전공', '전자공학과', '컴퓨터정보통신공학과', '소프트웨어공학과', '응용식물학과',
       '원예생명공학과', '응용생물학과', '산림자원학과', '임산공학과', '농생명화학과', '농식품생명공학부',
       '특수교육학부', '음악교육과', '인공지능학부', '지능형모빌리티융합학과', '빅데이터융합학과', '국악성악전공',
       '가야금', '거문고', '해금', '대금', '피리', '식품공학과', '분자생명공학과',
       '융합바이오시스템기계공학과', '약학부', '미술학과(이론전공)', '음악학과(피아노전공)', '음악학과(성악전공)',
       '음악학과(작곡전공)', '음악학과(바이올린)', '음악학과(첼로)', '음악학과(플루트)',
       '음악학과(클라리넷또는색소폰)', '음악학과(트롬본또는튜바)', '음악학과(타악기)', '국악학과(국악성악전공)',
       '국악학과(국악작곡이론전공)', '국악학과(가야금)', '국악학과(해금)', '국악학과(대금)', '국악학과(피리)',
       '미술학과(한국화전공)', '미술학과(서양화전공)', '미술학과(조소전공)', '미술학과(공예전공)', '디자인학과',
       '미디어커뮤니케이션학과', '음악학과(클라리넷 또는 색소폰)', '국악학과(타악)', '공과대학', '농생대학',
       '사범대학', '생활대학', '인문대학', '자연대학'], dtype=object)

In [232]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3308 entries, 0 to 3307
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   3308 non-null   object
 1   대학명     3308 non-null   object
 2   학과명     3308 non-null   object
 3   모집인원    3308 non-null   Float64
 4   지원인원    3308 non-null   Float64
 5   경쟁률     3308 non-null   float64
 6   평균      3308 non-null   float64
 7   표준편차    3308 non-null   float64
 8   연도      3308 non-null   int64
dtypes: Float64(2), float64(3), int64(1), object(3)
memory usage: 239.2+ KB

In [233]:
final_data.to_csv('final_data.csv', index=False, encoding='utf-8-sig')